body {
    margin-block-end: 0px;
    margin-block-start: 0px;
    margin: 0px;
}

header img {
    float: left;
}

header {
    margin-block-start: 0;
    margin-block-end: 0;
    background-image: linear-gradient(to right,rgb(33, 122, 163), rgb(27, 182, 27));
    font-family: Tahoma;
    padding-bottom: 55px;
    border-bottom: 1px solid black;
}

.title {
    margin-block-start: 0;
    background-image: linear-gradient(to right,rgb(33, 122, 163), rgb(27, 182, 27));
}

header h1 {
    font-style: italic;
    color: lawngreen;
    text-shadow: 2px 2px 2px black;
}

.navigationtop {
   font-size: 20px;
   margin: 0;
   padding: 0;
   overflow: hidden;
}

.navlist {
    float: left;
}

.navlist a {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 50px;
    display: inline-block;
    color: white;
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: 2px solid transparent;
    transition: border-bottom .33s ease-out;
}

.navlist a:hover {
    border-bottom: 2px solid white;
}

footer {
    position: relative;
    bottom: 0px;
    top: 600px;
}



