.tables{

    margin: 30px;
}

h1{

    font-family: sans-serif;
    text-shadow: 2px 2px 1px lightblue;
    color: #303030;
}

.subHeading{

    font-family: sans-serif;
    text-shadow: 2px 2px 1px lightblue;
    color: #303030;
}